<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="/res/favicon.png">
    
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created following Node js course. It uses mapbox.com and darksky to get the data</p>
        <img src="/res/Manhattan-Bridge-241272.jpg" class="about-pic">
    </div>
    {{>footer}}
</body>
</html>