<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="shortcut icon" href="/res/favicon.png" type="image/x-icon">
    <script src="/js/app.js"></script>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img src="/res/Manhattan-Bridge-241272.jpg" class="about-pic">
    </div>
    {{>footer}}
</body>
</html>